body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/073/423/original/Magda-Ehlers-clouds.jpg?1679679379");
  font-family: "Roboto Flex", sans-serif;
}

h1 {
  text-align: left;
  color: #435f89;
  margin-bottom: 0;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #31486c;
}

a:hover {
  text-decoration: underline;
}

ul {
  margin: 0;
  padding: 0;
  text-align: end;
  font-weight: lighter;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

li strong {
  font-weight: 700;
  color: #31486c;
}

.frame {
  display: block;
  margin: 0 auto;
  padding: 1.3em;
  max-width: 600px;
  max-height: 800px;
  background-color: white;
  opacity: 92%;
  border: none;
  border-radius: 16px;
}

.weather-temperature {
  font-size: 2.5em;
  color: #31486c;
  font-weight: 700;
}

.weather-temperature img {
  margin-right: 0.3em;
}

.col {
  text-align: center;
  max-width: 20%;
}

.weather-forecast-temperature-max {
  color: #31486c;
}

a .author {
  color: #a68da4;
}

.author {
  text-align: center;
  font-size: 0.85em;
  margin: 0 auto;
  font-weight: lighter;
}

.text-weather {
  margin-top: 0.62em;
}

.weather-forecast {
  text-align: center;
  font-size: 1em;
  font-weight: lighter;
}

.weather-forecast strong {
  font-weight: 700;
  color: #31486c;
}

.weather-forecast-date {
  font-size: 1em;
  font-weight: lighter;
}

#date {
  text-align: left;
  font-size: 1em;
  line-height: 1em;
  font-weight: lighter;
}

#weather-is {
  font-size: 0.85em;
  margin-top: 0.2em;
  margin-bottom: 0;
  font-weight: lighter;
  text-align: left;
}

#weather-is:first-letter {
  text-transform: capitalize;
}
