.searchbar {
    width: 100%;
    border: solid 2px #a68da4;
    border-radius: 8px;
    font-weight: lighter;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    transition: all 200ms ease-in-out;
}

.searchbar:hover {
    border: solid 2px #8885a7;
}

.searchbutton {
    background-color: transparent;
    font-weight: lighter;
    color: black;
    border: solid 2px #a68da4;
    border-radius: 8px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
    transition: all 200ms ease-in-out;
}

.searchbutton:hover {
    background-color: #8885a7;
    color: white;
    border: none;
}
